<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>{{title}}</h1>
  <p>version: {{version}}</p>
  <p>docs:
    <a href="{{docs}}">{{docs}}</a>
  </p>
</body>

</html>