<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>{{title}}</h1>
  <p>version: {{version}}</p>
  <p>docs:
    <a href="{{docs}}">{{docs}}</a>
  </p>
  <p>
    <h1 id='get_resp'></h1>
    <button onclick="get_req()">get</button>
  </p>
    <p>
    <h1 id='post_resp'></h1>
    <button onclick="post()">post</button>
  </p>

  <div>
    <input id='mark_title' type='text' value='title'>
    <input id='mark_body' type='text' value='body'>
    <button onclick="post_mark()">Post</button>
  </div>

  <script>
    function get_req() {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        if(xmlhttp.readyState = 4 && xmlhttp.status == 200)
          document.getElementById('get_resp').innerHTML = xmlhttp.responseText;
      }
      xmlhttp.open("GET", 'api/v0/marks/', true);
      xmlhttp.send(null);
    }
    function post() {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        if(xmlhttp.readyState = 4 && xmlhttp.status == 200)
          document.getElementById('post_resp').innerHTML = xmlhttp.responseText;
      }
      xmlhttp.open("POST", 'api/v0/accounts/check-handle-availability/', true);
      xmlhttp.setRequestHeader('Content-type', 'application/json')
      xmlhttp.send('{"handle":"test"}');
    }
    function post_mark() {
      var title = document.getElementById('mark_title').value;
      var body = document.getElementById('mark_body').value;

      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        if(xmlhttp.readyState = 4 && xmlhttp.status == 200)
          document.getElementById('post_resp').innerHTML = xmlhttp.responseText;
      }
      xmlhttp.open("POST", 'api/v0/marks/', true);
      xmlhttp.setRequestHeader('Content-type', 'application/json');
      params = JSON.stringify({title, body});
      xmlhttp.send(params);

    }
  </script>
</body>

</html>